body{
  margin:0;
  font-family: Arial;
  background:#0b0b0b;
  color:white;
  overflow:hidden;
}

.page{
  display:none;
  height:100vh;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  padding:20px;
}

.active{
  display:flex;
}

.card{
  background:rgba(255,255,255,0.06);
  padding:20px;
  border-radius:18px;
  max-width:420px;
  width:90%;
}

button{
  padding:12px 18px;
  border:none;
  border-radius:10px;
  background:gold;
  font-weight:bold;
  margin-top:10px;
  cursor:pointer;
}

input{
  padding:10px;
  border-radius:10px;
  border:none;
  text-align:center;
}

img{
  width:100%;
  border-radius:12px;
  margin-top:10px;
}
